@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: 
    linear-gradient(rgba(45, 49, 66, 0.30), rgba(45, 49, 66, 0.30)), 
    url('./assets/landing-background.png'); 
  
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-color: #CAF7E2; 
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main.container { 
    flex-grow: 1;
}